<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Tally:</strong>
  <%= @task.tally %>
</p>

<p>
  <strong>Total:</strong>
  <%= @task.total %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
